/* Styles go here. */

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.child1 {
	top: 25%;
	left: 25%;
	width: 25%;
	height: 25%;
}